body {
	background-color: white;
	margin: auto;
	margin-top: 5em;
	width: 80vw;
}

header {
	 margin: auto;
	 height: 20em;
	 text-align: center;
	 background-color: #727373;
	 background-image: url(theOGs.jpg);
	background-size: 80vw;
	 background-repeat: no-repeat;
	 width: 80vw;
    font-family: cursive;
        font-size: 29px;
	
}

ul img {
	height: 1.5em;
  width: auto;
	top: 0.4em;
	margin: 0;
	padding: 0;
	position: relative;
}

header h1 {
	margin: auto;
    font-family: monospace
}

nav {
	background-color: black;
	display: inline-block;
	color: white;
	position:fixed;
	width: 100vw;
	height: 3em;
	top: -1em;
	padding-bottom: 0.5em;
	left: 0;
}	

ul {
	list-style-type: none;
	margin: 0;
	padding: 1em;
	text-transform: uppercase;
}

nav a {
	color: white;
}

li {
	display: inline-block;
}

td {
	width: 8em;
	height: 8em;
	background-color: #727373;
    overflow: hidden
}

table {
	margin: auto;
    font-size: 20px
}
img {
    width: 35em
}

td img {
	width: 15em;
}

#main-content {
	padding-top: 1em;
	padding-bottom: 1em;
}





